html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: Arial;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px minmax(800px, 100vh) 1fr;
      grid-template-rows: 80px minmax(800px, 100vh) 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "navigation" "site-main" "footer";
}

body nav.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navigation;
  width: 100%;
  background-color: black;
  position: fixed;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body nav.navigation img {
  width: 132px;
  height: 41.9px;
}

body nav.navigation ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 40%;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body nav.navigation ul li {
  font-weight: bold;
}

body nav.navigation ul li a {
  text-decoration: none;
  color: white;
}

body nav.navigation ul li a#sign-up, body nav.navigation ul li a#log-in {
  color: #d9dadc;
}

body nav.navigation ul li a:hover, body nav.navigation ul li a#sign-up:hover, body nav.navigation ul li a#log-in:hover {
  color: #1ed760;
}

body main.site-main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: site-main;
  background-color: #2941ab;
  width: 100%;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
  background-size: 175%;
  background-repeat: no-repeat;
  background-position: 46% 4%;
  color: #1ed760;
}

body main.site-main h1 {
  font-size: 8em;
  text-align: center;
}

body main.site-main p {
  font-weight: 500;
  letter-spacing: 1px;
}

body main.site-main button {
  background-color: #1ed760;
  border: none;
  font-size: 14px;
  color: #2941ab;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  border-radius: 2em;
  padding: 14px 32px;
}

body main.site-main button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

body footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

body footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

body footer nav img {
  width: 200px;
}

body footer nav ul {
  list-style-type: none;
}

body footer nav ul li {
  margin: 1em 0;
}

body footer nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

body footer nav ul li a:hover {
  color: #1ed760;
}

body footer nav ul > li:first-child {
  text-transform: uppercase;
  color: #d9dadc;
  font-weight: bold;
  font-size: 16px;
}

body footer #socials {
  font-size: 1.8em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer #socials a {
  color: white;
  padding: 12px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #222326;
}

body footer #socials a:hover {
  color: #1ed760;
}

@media screen and (max-width: 600px) {
  body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer nav img {
    width: 120px;
    margin-left: 36px;
  }
  body footer div#socials {
    margin-left: 28px;
  }
}
/*# sourceMappingURL=styles.css.map */